* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    color: black;
    font-family: "Odibee Sans", cursive;
    background-color: rgb(246, 246, 245);
    margin: 0;
    text-align: center;
    width: 100%;



}

header {

    line-height: 2em;
    margin: 10px 10px;



}


header a {
    text-decoration: none;


}

p {
    padding: 10px 15px 40px 10px;

}

p.nav {
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Permanent Marker", cursive;

}



hr {
    border: 1px solid orange;

}

h1 {
    font-family: "Permanent Marker", cursive;
    text-shadow: 5px 5px 5px rgb(44, 41, 41);
    padding-bottom: 30px;

}
h2 {
padding:10px 10px 10px 10px;

}
h3 {
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Permanent Marker", cursive;
    padding-bottom: 50px;
    text-shadow: 5px 5px 5px gray;

}

img {

    max-width: 100%;
    padding: 10px;
    box-shadow: 2px 2px 8px rgb(206, 196, 66);
}



address a {
    text-decoration: none;


}

a:hover {
    background-color: peru;

}

.intro {
    background-color: rgb(255, 245, 245);
    margin-bottom: 20px;
    padding: 20px 20px 20px;


}

.intro p {
    font-size: large;

}



#contact {
    background-color: rgb(255, 245, 245);
    padding: 20px 10px 20px 10px;
    max-width: 100%;


}





address {
    font-family: Arial, Helvetica, sans-serif
}


#portfolio {
    padding: 20px;
    max-width: 100%;

}




.nav {
    background-color: rgb(255, 245, 245);
}

main {
    max-width: 100%;

}

.portfolio-container {
    display: flex;
    flex-direction: column;

}

.flex-container {
    display: flex;
    flex-direction: column;
}

.top-nav {
    background-color: rgb(245, 245, 245);
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

}




footer {}

footer li {
    font-family: "Permanent Marker", cursive;
    list-style-type: none;

}

footer a {
    text-decoration: none;

}


.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: "Permanent Marker", cursive;
    padding: 10px;

}

.bottom h4 {
    text-align: left;
    margin: auto 0;

}

.bottom ul {
    display: inline-block;
}

.go-up {
    display: inline-block;
}

.full {
    display: none;
}













/* Media Queries */



/* TABLET STYLE */
@media (min-width: 768px) {
    h1 {
        color: darkgoldenrod;

    }


    header {}


    .intro {
        display: flex;
        flex-direction: row-reverse;


    }

    main {

        margin: 10px;
        padding: 10px;




    }

    .portfolio-container {
        flex-wrap: wrap;
        flex-direction: row;


    }

    .col {
        flex: 1 50%;

    }

.top-nav {

flex-wrap: wrap;
flex-direction: row;
justify-content: center;
}

#portfolio {


}




.go-up {
    display: none;
}

.full {
    display: inline-block;
}







@media (min-width: 1024px) {

    body {
        width: 1023px;
        margin: 0 auto;
    }


    h1 {
        color: rgb(209, 197, 177);
    }

    .flex-container {
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;




    }

    .top-nav {
        justify-content: space-between;
        flex-direction: row;




    }

    .top-nav p {
        margin: 0 15px;

    }

    .top-nav p:last-of-type {
        margin-right: 0;

    }

    header {
        margin: 20px 20px;

    }


    .bottom {
        margin: 0 auto;
    }




    .col {
        flex: 33.3333%;



    }
}