
*{
box-sizing: border-box;
margin: 0;
padding: 0;
}


body {
color:black;
font-family: "Odibee Sans", cursive;
background-color: rgb(246, 246, 245);
margin: 0;
text-align: center;
width: 100%;
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;


}
header{

line-height: 2em;
margin: 10px 10px;




}
.top-nav{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}


header a {
    text-decoration: none;
    

}
p {
padding-bottom: 10px;

}
p.nav{
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Permanent Marker", cursive;

}



hr {
border: 1px solid orange;

}

h1 {
font-family: "Permanent Marker", cursive;

}

h3 {
    font-weight: bolder;
    text-transform: uppercase;
    font-family: "Permanent Marker", cursive;
    padding-bottom: 50px;

}
img {
    
    max-width: 100%;
    padding: 5px;

}



address a {
text-decoration: none;


}
a:hover{
background-color: peru;

}

.intro {
background-color:rgb(255, 245, 245);
margin-bottom: 20px;
padding: 0 40px 40px;


}
.intro p {
font-size: large;

}



#contact {
background-color: rgb(255, 245, 245);
padding: 20px 10px 20px 10px;
max-width: 100%;


}





address{
    font-family: Arial, Helvetica, sans-serif
}

.top-nav {
    background-color: rgb(245, 245, 245);
    
    padding-top: 30px;
    
    

}
.portfolio {
padding: 30px;
max-width: 100%;

}
.nav {
    background-color: rgb(255, 245, 245);
}

main {
max-width: 100%;

}






/* Flexbox Layouts */
body {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
  
    
}
header {
display: flex;
justify-content: center;
flex-flow: column wrap;


}

footer {

padding: 0;
margin-top: 60px;


}

footer p {


}
.bottom {
    display: flex;

    justify-content: space-between;

    
}


div.col-1 {
   
   
    flex-direction: column;
    float: right;
   
    }




div.col-2 {
   
    
    flex-direction: column;
    float: left;
   
    }







   
/* Media Queries */



/* TABLET STYLE */
@media (min-width: 768px ) {
h1 {
color: darkgoldenrod;

}


    header {
text-align: center;

 }

.top-nav {
   
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    flex-wrap: nowrap;
    
    

}
.nav {

    
}
.intro {
display: flex;
flex-direction: row-reverse;


}

main {
    display: flex;
    margin: 10px;
    padding: 10px;
    
    
    
   
}
div.col-1 {
   
   
    flex-direction: column;
    float: right;
    max-width: 50%;
    }




div.col-2 {
   
    
    flex-direction: column;
    float: left;
    max-width: 50%;
    }

}








@media (min-width: 1024px) {

h1 {
    color: rgb(209, 197, 177);
}


.top-nav{
    display: flex;
    flex-wrap: wrap;
 
 



}
.portfolio {
display: flex;
flex-direction: column;

}
main {
display: flex;
flex-wrap: wrap;
max-width: 80%;
flex-direction: column;

}
div.col-1 {
   
    max-width: 50%;
    flex-direction: column;
    float: right;
    }




div.col-2 {
   
    max-width: 50%;
    flex-direction: column;
    float: left;

    }
}


    
  



  